In [21]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix

data=pd.read_csv('Social_Network_Ads.csv')
data

      User ID  Gender  Age  EstimatedSalary  Purchased
0    11021175    Male   42           121315          0
1    17782313    Male   53            67214          0
2    14603818  Female   59           111005          0
3    18188198  Female   39            53414          0
4    19357305    Male   39           114285          0
..        ...     ...  ...              ...        ...
395  10220446  Female   20           141231          1
396  12387292    Male   50            75848          1
397  10715173  Female   25            82560          1
398  10016842    Male   55           147667          0
399  11699655  Female   54           134972          1

[400 rows x 5 columns]

In [22]:
X=data.iloc[:,2:4].values
y=data.iloc[:,-1].values

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

knn= KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train,y_train)

def predict_new():
  age=int(input("Enter the age"))
  salary=int(input("Enter the salary"))
  X_new=np.array([[age],[salary]]).reshape(1,2)
  X_new=scaler.transform(X_new)
  result=knn.predict(X_new)
  if result==0:
    print("Will not purchase")
  else:
    print("Will purchase")
    
predict_new()

Will not purchase